node_modules/
dist/
.env
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl
tfplan
__pycache__/
*.pyc
.venv/
.vite/
.omc/
*.egg-info/
package-lock.json
terraform.tfvars
errored.tfstate
.vite/
